.chat {
  flex: 2;
  border-left: 1px solid #dddddd35;
  border-right: 1px solid #dddddd35;
  height: 100%;

  .top {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd35;

    .user {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        object-fit: cover;
      }
      .text {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
          font-weight: bold;
          font-size: 18px;
        }
        p {
          font-size: 14px;
          font-weight: 200;
          color: #a5a5a5;
        }
      }
    }

    .icons {
      display: flex;
      gap: 20px;

      img {
        height: 20px;
        width: 20px;
        border-radius: 50%;
      }
    }
  }

  .bottom {
    padding: 20px;
    border-top: 1px solid #a5a5a5;
    display: flex; 
    gap:10px;
    align-items: center;
    justify-content: space-between;
    .icons {
      display: flex;
      gap: 20px;
    } 
    img {
        height: 24px;
        width: 24px;
        cursor: pointer;
      }
    .getinput {
        flex: 1;
        background-color: rgba(17, 25, 40, 0.5);
        outline: none;
        border: none;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 16px;
    }
    .sendButton {
        background-color: blue;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    
  
}
